<app-header></app-header>
  <style>
    .book-cover-true {
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .book-cover-false {
      width: 100%;
      height: 500px;
      background-color: #dcdcdc;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #555;
      border: 2px dashed #aaa;
    }
    .rating i {
      color: gold;
    }
    .rating i:not(.fas) {
      color: #ccc;
    }
  </style>

<div class="container mt-5">
  
  <div class="row justify-content-center">
 
    <div class="col-md-8">
      <h1>Meus livros favoritos </h1>
      <div class="card">
        <div class="card-header text-center">
          <h2>Titulo</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <!-- <div *ngIf="book?.volumeInfo?.imageLinks" class="book-cover-true">
                <img *ngIf="book?.volumeInfo?.imageLinks" [src]="book?.volumeInfo?.imageLinks?.thumbnail" class="img-fluid me-3" alt="Book Cover" style="height: 500px; width: auto;"> -->
              </div>
              <div class="book-cover-false">
                Capa Indisponível
              </div>
            </div>
            <div class="col-md-6">
              <h3>Author</h3>
              <p class="mt-3">Descricao</p>
              <p class="mt-3"><strong>Gênero:</strong> Fantasia</p>
              <p class="mt-3"><strong>Ano de Publicação:</strong> </p>
              <div class="rating mt-3">
                <span class="mr-2">Avaliação:</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="form-group mt-3">
                <label for="notes">Anotações:</label>
                <textarea id="notes" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="mt-2 text-center">
            <button class="btn btn-outline-danger">
              <i class="fas fa-far"></i> Remover dos Favoritos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

