<app-header></app-header>
<div class="container mt-5">
    <h1 class="mb-4">Livros Favoritos</h1>
    <div class="row">
      
      <div class="col-md-4">
        <div class="card mb-4">
            <!-- <img src="{{ book.cover }}" class="card-img-top" alt="{{ book.title }}"> -->
            <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Autor Teste</p>
            <a href="#" class="btn btn-danger">Remover dos Favoritos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  