<app-header></app-header>
  <div class="container">
    <h1>Lista de Livros</h1>
    <form (submit)="searchBooks()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="query" name="query" placeholder="Busque por livros e autores">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form>
    <div class="row">
      <div class="col-md-4" *ngFor="let book of books">
        <div class="card mb-4">
          <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" class="card-img-top" alt="Book Cover">
          <div class="card-body">
            <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
            <p class="card-text">{{ book.volumeInfo.authors?.join(', ') }}</p>
            <p class="card-text">{{ book.volumeInfo.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
