<!-- Ajustar o HTML para o footer no componente de favoritos. -->
<!-- Corrigir o search para buscar mais de uma tag. -->
<div class="container">
  <h1>Meus Favoritos</h1>
  <div class="form-group">
    <label for="tagFilter">Filtrar por tag:</label>
    <input id="tagFilter" [(ngModel)]="selectedTag" (input)="filterBooks()" class="form-control" placeholder="Digite uma tag para filtrar">
  </div>
  <div class="list-group">
    <div class="list-group-item list-group-item-action mb-3" *ngFor="let book of favoriteBooks">
      <div class="d-flex w-100">
        <img *ngIf="book.imageLinks" [src]="book.imageLinks.thumbnail" class="img-fluid me-3" alt="Book Cover" style="max-height: 150px; width: auto;">
        <div class="flex-grow-1">
          <h5 class="mb-1 fw-bold text-spacing">{{ book.title }}</h5>
          <small class="text-spacing">{{ book.author }}</small>
          <p class="mb-1 text-spacing">{{ book.description }}</p>
          <div class="rating mt-3">
            <span class="mr-2">Avaliação:</span>
            <div class="star-rating">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <i class="fa fa-star" [class.selected]="i < book.rating" (click)="rateBook(book, i + 1)"></i>
              </ng-container>
              <span> - {{ book.rating }}</span>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="form-group mt-3">
              <label for="notes">Anotações:</label>
              <div class="d-flex align-items-center">
                <textarea [(ngModel)]="book.notes" id="notes" class="form-control" rows="3" [disabled]="!isEditingNotes[book.id]"></textarea>
                <button class="btn btn-link btn-icon ms-2" (click)="toggleEditNotes(book.id)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </div>
            
          <div class="form-group mt-3" >
            <button *ngIf="isEditingNotes[book.id]"(click)="updateBook(book)" class="btn btn-outline-primary button-spacing">
              <i class="fas fa-save"></i> Salvar Modificações
            </button>
            <button (click)="removeBook(book.id)" class="btn btn-outline-danger">
              <i class="fas fa-times"></i> Remover dos Favoritos
            </button>
          </div>
          <div class="form-group mt-3">
            <label for="tags">Tags:</label>
            <div>
              <div *ngFor="let tag of book.tags; let tagIndex = index" class="tag-chip">
                {{ tag }}
                <span class="close-btn" (click)="removeTag(book, tagIndex)">&times;</span>
              </div>
              <a *ngIf="!isAddingTag[book.id]">Adicionar uma nova tag</a>
              <button *ngIf="!isAddingTag[book.id]" (click)="setAddTag(book.id, true)" class="add-tag-button">
                <i class="fas fa-plus"></i>
              </button>
              <input *ngIf="isAddingTag[book.id]" [(ngModel)]="newTags[book.id]" (keydown.enter)="saveTag(book)" class="add-tag-input" placeholder="Digite o nome da tag">
              <button *ngIf="isAddingTag[book.id]" (click)="saveTag(book)" class="add-tag-button">
                <i class="fas fa-check"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
